<div class="container">
    <h1>Task List</h1>
    <div class=".col-lg-2"
        <div class="container-fluid">
                <ul class="list-group">
                    <% for task in @pending_tasks %>
                        <li class="list-group-item">
                            <%= form_for task, method: :delete do |f| %>
                                <%= task.task %>
                                <%= f.submit "Complete", :style => "border-radius: 0 !important", :class => "btn btn-primary" %>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
                    <div class="input-group mb-3">
                        <div class="form-control">
                            <%= form_for Task.new do |f| %>
                            <%= f.text_field :task, :style => "padding:5px;float:left;width:350px", placeholder:"Description" %>
                            <%= f.submit "Add task", :style => "border-radius: 0 !important", :class => "btn btn-success" %>
                        </div>
                    <% end %>
                    </div>
                   
      </div>
    </div>
    <div class=".col-lg-4">
        <div class='container'>
            <h1>Completed tasks</h1>
            <ul class="list-group">
                <% for task in @completed_tasks %>
                    <li class="list-group-item">
                        <%= form_for task, method: :delete do |f| %>
                            <%= task.task %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>



