
<h1>Task List</h1>

<div class="container-fluid">
    <ul class="list-group">
        <% for task in @pending_tasks %>
            <li class="list-group-item">
                <%= form_for task, method: :delete do |f| %>
                    <%= task.task %>
                    <%= f.submit "completed" %>
                <% end %>
            </li>
            
        <% end %>
    </ul>
        <ul class="list-group">
        <% for task in @completed_tasks %>
            <li class="list-group-item">
                <%= form_for task, method: :delete do |f| %>
                    <%= task.task %>
                    <%= f.submit "completed" %>
                <% end %>
            </li>
            
        <% end %>
    </ul>

</div>
<%= form_for Task.new do |f| %>
    <%= f.label :task %>
    <%= f.text_field :task %>
    <%= f.submit %>
<% end %>

